{
  "plugins": [
    "scanjs-rules",
    "no-unsafe-innerhtml"
  ],
  env: {
    "es6": true, /** all es6 features except modules */
    "browser": true
  },
  ecmaFeatures: {
    "modules": true
  },
  "rules": {

  /** useful rules from eslint **/

  /** no-unsafe-innerhtml rule **/
    'no-unsafe-innerhtml/no-unsafe-innerhtml': 2,

  /** ScanJS rules **/

    'scanjs-rules/call_eval': 2,
    'scanjs-rules/new_Function': 2,
    'scanjs-rules/call_Function': 2,
    'scanjs-rules/call_setTimeout': 2,
    'scanjs-rules/call_setInterval': 2,
    'scanjs-rules/call_setImmediate': 2,
    'scanjs-rules/call_execScript': 2,
    'scanjs-rules/call_generateCRMFRequest': 2,
    'scanjs-rules/call_write': 2,
    'scanjs-rules/call_writeln': 2,
    'scanjs-rules/property_createContextualFragment': 2,
    'scanjs-rules/assign_to_location': 2,
    'scanjs-rules/assign_to_href': 2,
    'scanjs-rules/assign_to_pathname': 2,
    'scanjs-rules/assign_to_search': 2,
    'scanjs-rules/assign_to_protocol': 2,
    'scanjs-rules/assign_to_hostname': 2,
    'scanjs-rules/assign_to_src': 2,
    'scanjs-rules/call_parseFromString': 2,
    'scanjs-rules/call_addEventListener': 2,
    'scanjs-rules/call_addEventListener_message': 2,
    'scanjs-rules/assign_to_onmessage': 2,
    'scanjs-rules/identifier_indexedDB': 2,
    'scanjs-rules/identifier_localStorage': 2,
    'scanjs-rules/identifier_sessionStorage': 2,
    'scanjs-rules/property_indexedDB': 2,
    'scanjs-rules/property_localStorage': 2,
    'scanjs-rules/property_sessionStorage': 2,
    'scanjs-rules/new_MozActivity': 2,
    'scanjs-rules/call_mozSetMessageHandler_activity': 2,
    'scanjs-rules/call_mozSetMessageHandler': 2,
    'scanjs-rules/property_getDataStores': 2,
    'scanjs-rules/call_connect': 2,
    'scanjs-rules/call_setMessageHandler_connect': 2,
    'scanjs-rules/property_mozAlarms': 2,
    'scanjs-rules/call_open_attention': 2,
    'scanjs-rules/property_getUserMedia': 2,
    'scanjs-rules/assign_to_mozAudioChannelType': 2,
    'scanjs-rules/assign_to_mozAudioChannel': 2,
    'scanjs-rules/call_addEventListener_deviceproximity': 2,
    'scanjs-rules/property_mozBluetooth': 2,
    'scanjs-rules/call_setAttribute_mozbrowser': 2,
    'scanjs-rules/call_addEventListener_cellbroadcastmsgchanged': 2,
    'scanjs-rules/property_mozCameras': 2,
    'scanjs-rules/property_mozContacts': 2,
    'scanjs-rules/new_Notification': 2,
    'scanjs-rules/property_getDeviceStorage': 2,
    'scanjs-rules/call_getDeviceStorage_apps': 2,
    'scanjs-rules/call_getDeviceStorage_crashes': 2,
    'scanjs-rules/call_getDeviceStorage_music': 2,
    'scanjs-rules/call_getDeviceStorage_pictures': 2,
    'scanjs-rules/call_getDeviceStorage_sdcard': 2,
    'scanjs-rules/call_getDeviceStorage_videos': 2,
    'scanjs-rules/property_mozDownloadManager': 2,
    'scanjs-rules/call_setAttribute_mozapp': 2,
    'scanjs-rules/property_mozFMRadio': 2,
    'scanjs-rules/property_geolocation': 2,
    'scanjs-rules/property_addIdleObserver': 2,
    'scanjs-rules/property_mozInputMethod': 2,
    'scanjs-rules/call_hide': 2,
    'scanjs-rules/property_mozMobileConnections': 2,
    'scanjs-rules/property_lastKnownHomeNetwork': 2,
    'scanjs-rules/property_lastKnownNetwork': 2,
    'scanjs-rules/call_addEventListener_moznetworkupload': 2,
    'scanjs-rules/call_addEventListener_moznetworkdownload': 2,
    'scanjs-rules/property_mozNetworkStats': 2,
    'scanjs-rules/property_mozNfc': 2,
    'scanjs-rules/call_open_remote=true': 2,
    'scanjs-rules/property_mozPermissionSettings': 2,
    'scanjs-rules/property_mozPhoneNumberService': 2,
    'scanjs-rules/property_mozPower': 2,
    'scanjs-rules/property_mozSettings': 2,
    'scanjs-rules/property_mozMobileMessage': 2,
    'scanjs-rules/new_MozSpeakerManager': 2,
    'scanjs-rules/object_mozSystem': 2,
    'scanjs-rules/property_mozTCPSocket': 2,
    'scanjs-rules/property_mozTelephony': 2,
    'scanjs-rules/property_mozTime': 2,
    'scanjs-rules/property_mozVoicemail': 2,
    'scanjs-rules/call_mozSetMessageHandler_wappush_received': 2,
    'scanjs-rules/property_mgmt': 2,
    'scanjs-rules/property_mozWifiManager': 2,
    'scanjs-rules/property_mozKeyboard': 2,
    'scanjs-rules/property_mozCellBroadcast': 2,
    'scanjs-rules/property_mozMobileConnection': 2,
    'scanjs-rules/property_mozNotification': 2
  }
}

